:root {
    --purple: #C200FB;
    --pink: #FB00B6;
}

.logo-name-2 {
    color: var(--purple);
}
.logo-name-1 {
    color: var(--pink)
}
.navbar-custom
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;

}

body {
    background-image: url('./images/wallpaperflare.com_wallpaper (2).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;
    
    
}

